flows.json
[{"id":"b56efd0e.6831f8","type":"tab","label":"AC","disabled":false,"info":""},{"id":"4114ef83.51c76","type":"http request","z":"b56efd0e.6831f8","name":"Token","method":"POST","ret":"obj","paytoqs":false,"url":"https://auth.mymodlet.com/token","tls":"","proxy":"","authType":"","x":550,"y":280,"wires":[["ff68b839.edf1d"]]},{"id":"a44adf44.dd17d8","type":"function","z":"b56efd0e.6831f8","name":"Prepare Request","func":"msg.payload = \"username=YOUR_EMAIL&password=YOUR_PASS&client_id=335120MMMobile&grant_type=password\";\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded';\nmsg.headers['Accept'] = 'application/json';\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["4114ef83.51c76"]]},{"id":"67e0da55.a44844","type":"function","z":"b56efd0e.6831f8","name":"Check Token","func":" \nif (msg.payload.length==0) {\n    msg.payload = \"\";\n    return msg;\n}\n    \n\nvar obj = JSON.parse(msg.payload);\n    \nvar tokenExpire = obj['.expires'];\nvar d = new Date(tokenExpire);\nvar tokenExpireTimestamp = Math.round(d.getTime()/1000);\n\nvar curentD = new Date();\nvar currentTimestamp = Math.round(curentD.getTime()/1000);\n\nif (currentTimestamp>=tokenExpireTimestamp) {\n    msg.payload = \"\";\n    return msg;\n}\n\nmsg.payload = obj.access_token;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":460,"wires":[["d782b14e.a155b"]]},{"id":"ff68b839.edf1d","type":"file","z":"b56efd0e.6831f8","name":"TokenCache","filename":"/mnt/hdd/modletToken.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":410,"y":360,"wires":[["e77cf497.4edb58"]]},{"id":"e77cf497.4edb58","type":"file in","z":"b56efd0e.6831f8","name":"ReadTokenCache","filename":"/mnt/hdd/modletToken.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":330,"y":460,"wires":[["67e0da55.a44844"]]},{"id":"d782b14e.a155b","type":"switch","z":"b56efd0e.6831f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":460,"wires":[["a44adf44.dd17d8"],["66746340.1cf35c"]]},{"id":"66746340.1cf35c","type":"function","z":"b56efd0e.6831f8","name":"Prepare General Request","func":"var token = msg.payload;\nmsg.payload = {id: \"YOUR_DEVICE_ID\", deviceId:\"YOUR_DEVICE_ID\", cookie: \"\",  isThermostated: true,  targetTemperature: msg.action};\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer '+token;\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":460,"wires":[["c67f515e.ce069"]]},{"id":"701f736.c69868c","type":"http request","z":"b56efd0e.6831f8","name":"Switch ON","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.mymodlet.com/api/device/switchon","tls":"","proxy":"","authType":"","x":910,"y":540,"wires":[["2045a5e6.895482"]]},{"id":"8927ac84.54b368","type":"http request","z":"b56efd0e.6831f8","name":"Switch OFF","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.mymodlet.com/api/device/switchoff","tls":"","proxy":"","authType":"","x":910,"y":600,"wires":[["2045a5e6.895482"]]},{"id":"c67f515e.ce069","type":"switch","z":"b56efd0e.6831f8","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"getalldata","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":710,"y":560,"wires":[["701f736.c69868c"],["8927ac84.54b368"],["8e1167ae.666dc8"],["db2420b5.7d40f"]]},{"id":"781dc79c.8b3128","type":"debug","z":"b56efd0e.6831f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":620,"wires":[]},{"id":"dd4ee457.687b5","type":"mqtt in","z":"b56efd0e.6831f8","name":"GBridge","topic":"gBridge/YOUR_GBRIDGE_U/YOUR_GBRIDGE_D/+","qos":"1","datatype":"json","broker":"c5cdab2f.be2b18","x":170,"y":60,"wires":[["d904e865.eee408"]]},{"id":"7e8da588.fbb864","type":"mqtt out","z":"b56efd0e.6831f8","name":"SetStatusTopic","topic":"gBridge/YOUR_GBRIDGE_U/YOUR_GBRIDGE_D/onoff/set","qos":"1","retain":"","broker":"c5cdab2f.be2b18","x":1380,"y":380,"wires":[]},{"id":"2045a5e6.895482","type":"function","z":"b56efd0e.6831f8","name":"Confirmation","func":"var result = msg.payload.test;\nvar success = false;\nif (result.indexOf(\"invoked\") !== -1)\n{\n    success=true;\n}\n\nif (success) {\n    msg = {payload:1};\n} else {\n    msg = {payload:1-msg.action};\n}\n    \n   \nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":560,"wires":[["7e8da588.fbb864","781dc79c.8b3128"]]},{"id":"d904e865.eee408","type":"function","z":"b56efd0e.6831f8","name":"Determine Action","func":"\nmsg.action=msg.payload;\nmsg.google_action=msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":220,"wires":[["e77cf497.4edb58"]]},{"id":"db2420b5.7d40f","type":"http request","z":"b56efd0e.6831f8","name":"Set temerature","method":"POST","ret":"obj","paytoqs":false,"url":"https://api.mymodlet.com/api/smartac/usersettingsupdate","tls":"","proxy":"","authType":"","x":920,"y":660,"wires":[["bff8067c.c57418"]]},{"id":"bff8067c.c57418","type":"function","z":"b56efd0e.6831f8","name":"Confirmation","func":" \nmsg = {payload:parseFloat(msg.action).toFixed(1)};\n   \nreturn msg;\n","outputs":1,"noerr":0,"x":1130,"y":640,"wires":[["781dc79c.8b3128","1003e80.c642a18"]]},{"id":"1003e80.c642a18","type":"mqtt out","z":"b56efd0e.6831f8","name":"SetStatusTopic","topic":"gBridge/YOUR_GBRIDGE_U/YOUR_GBRIDGE_D/tempset-setpoint/set","qos":"1","retain":"","broker":"c5cdab2f.be2b18","x":1380,"y":500,"wires":[]},{"id":"a38ca9d5.9699b","type":"mqtt out","z":"b56efd0e.6831f8","name":"SetStatusTopic","topic":"gBridge/YOUR_GBRIDGE_U/YOUR_GBRIDGE_D/tempset-ambient/set","qos":"1","retain":"","broker":"c5cdab2f.be2b18","x":1380,"y":720,"wires":[]},{"id":"c994b5e1.b1b418","type":"inject","z":"b56efd0e.6831f8","name":"Current Temp","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":680,"wires":[["4c123c8a.6e197c"]]},{"id":"8e1167ae.666dc8","type":"http request","z":"b56efd0e.6831f8","name":"Get ALL Data","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.mymodlet.com/api/smartac/getall","tls":"","proxy":"","authType":"","x":920,"y":720,"wires":[["1872f40e.d664ec"]]},{"id":"4c123c8a.6e197c","type":"function","z":"b56efd0e.6831f8","name":"Determine Action","func":"\nmsg.action=\"getalldata\";\n \nreturn msg;","outputs":1,"noerr":0,"x":250,"y":560,"wires":[["e77cf497.4edb58"]]},{"id":"1872f40e.d664ec","type":"function","z":"b56efd0e.6831f8","name":"Confirmation","func":" \n var result = msg.payload.smartACs[0];\n var temp = result.thermostat.currentTemperature;\nmsg = {payload: parseFloat(temp).toFixed(1)};\n// msg = {payload:temp};\n \n   \nreturn msg;\n","outputs":1,"noerr":0,"x":1130,"y":720,"wires":[["a38ca9d5.9699b","781dc79c.8b3128"]]},{"id":"c5cdab2f.be2b18","type":"mqtt-broker","z":"","name":"YOUR_SERVER_PROFILE","broker":"mqtt.gbridge.io","port":"8883","tls":"4e0b1fb8.6e452","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e0b1fb8.6e452","type":"tls-config","z":"","name":"gbridge-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"mqtt.gbridge.io","verifyservercert":true}]
